# Credentials
.env

# Python Virtual Environment
venv/
__pycache__/
*.pyc

# Local Data/VTube Studio logs
*.log
memory.json

tokens/
*.txt
# (optional: if only this file is sensitive, prefer the specific ignore)
# tokens/vts_token.txt